.App {
    background-color: var(--dark-green);
}

.input-group {
    margin: auto;
    padding: 50px;
    width: 50%;
}

#search {
    margin: auto;
    width: 80%;
}

.my-gallery-class {
    display: flex;
    flex-wrap: wrap;

    list-style: none!important;
    margin: 0!important;
    padding-bottom: 50px;
    padding-left: 100px;
}

.film {
    margin: 0!important;
}

.noliststyle {
    list-style: none!important;
}

.card-title {
    width: 300px;
    word-wrap: break-word!important;
}

.nav_span {
    font-size: 18px!important;
    padding: 5px!important;
}

.last {
    margin-right: 0!important;
}