.App {
    background-color: var(--dark-green);
}

.input-group {
    margin: auto;
    padding: 50px;
    width: 50%;
}

#search {
    margin: auto;
    width: 80%;
}

.my-gallery-class {
    display: flex;
    flex-wrap: wrap;

    list-style: none!important;
    margin: 0!important;
    padding-bottom: 50px;
    padding-left: 100px;
}

.film {
    margin: 0!important;
}

.noliststyle {
    list-style: none!important;
}

.card-title {
    width: 300px;
    height: 50px;
    word-wrap: break-word!important;
}

.nav_span {
    font-size: 18px!important;
    padding: 5px!important;
}

.film_card {
    margin: 2px!important;
    border-radius: 0!important;
    padding: 0!important;
    box-shadow: none!important;
    border: none!important;

    transition: 0ms ease all;
}

.film_card:hover {
    margin: 0!important;
    border: 2px var(--bg-white) solid!important; 
}

.last {
    margin-right: 0!important;
}